@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.cdnfonts.com/css/arial');
@import "./fonts/Navigo-Bold/style.css";
@import "./fonts/Navigo-Regular/style.css";

.raiffeseisenComponentYellow {
  background-color: rgb(254, 230, 0);
  color: black;
  text-align: center;
  padding-bottom: 20px;
  border-radius: 25px;
}

.yellowColor {
  background-color: rgb(254, 230, 0);;
}

.blackColor {
  background-color: rgb(43, 45, 51);
}

.greyColor {
  background-color: rgb(85, 87, 92);
}

.border-grey {
  border-color: rgb(85, 87, 92) !important;
}

#app {
  font-family: "Navigo-Regular", Arial, sans-serif;
}

.dynamic-add {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}

.dynamic-input:focus{
  border-color: rgb(43, 45, 51) !important;
}

.dynamic-input{
  text-align: center;
}