@font-face {
    font-family: 'Navigo-Regular';
    src: local('Navigo Regular'), local('Navigo-Regular'),
        url('Navigo-Regular.woff2') format('woff2'),
        url('Navigo-Regular.woff') format('woff'),
        url('Navigo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }